<html>
<body>
<div>
    <form action="/createProduct" method="get" >
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <label>Անուն</label>
        <input type="text" name="name"/><br/>
        <label>Տեսակ</label>
        <input type="text" name="type"/><br/>
        <label>Նկարագրությունը</label>
        <input type="text" name="description"><br/>
        <label>Քանակը</label>
        <input type="text" name="countInWarehouse"/><br/>
        <label>Գնման գին</label>
        <input type="text" name="purchasePrice"><br/>
        <label>Վաճառքի գին</label>
        <input type="text" name="salePrice"/><br/>
        <label>Պիտանելության ժամկետ</label>
        <input type="text" name="expirationDate"><br/>
        <label>Ապրանքի կոդը</label>
        <input type="text" name="productCode"/><br/>
        <label>Շտրիխ կոդ</label>
        <input type="text" name="barcode"><br/>
        <button type="submit">Ավելացնել</button>
    </form>
</div>
</body>
</html>