<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <form action="/logout" method="get">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<form >
    <a href="/createProductPage">Create product</a>
    <br/>
    <a href="/searchProductPage">Search product</a>
    <br/>
    <a href="/addProductPage">Add product</a>
    <br/>
    <a href="/createProductPage">Add product type</a>
    <br/>
    <a href="/updateProductTypePage">Update product type</a>
</form>
</body>
</html>
