<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form action="/addProduct" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <label>Անուն</label>
        <input type="text" name="name" placeholder="Անուն"/><br/>
        <label>Քանակը</label>
        <input type="text" name="count" placeholder="Քանակը"/><br/>
        <label>Ապրանքի կոդը</label>
        <input type="text" name="productCode" placeholder="Ապրանքի կոդը"/><br/>
        <label>Շտրիխ կոդ</label>
        <input type="text" name="barcode" placeholder="Շտրիխ կոդ"><br/>
        <button type="submit">Ավելացնել</button>
    </form>
</div>
</body>
</html>