<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form action="/search/page" method="get" >
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <label>Անուն</label>
        <input type="text" name="name"/><br/>
        <label>Տեսակ</label>
        <input type="text" name="type"/><br/>
        <label>Պիտանելության ժամկետ</label>
        <input type="text" name="expirationDate"><br/>
        <label>Ապրանքի կոդը</label>
        <input type="text" name="productCode"/><br/>
        <label>Շտրիխ կոդ</label>
        <input type="text" name="barcode"><br/>
        <button type="submit">Ավելացնել</button>
    </form>
</div>
</body>
</html>